<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/annonces" class="navbar-brand">Bonnes Affaires</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/annonces">Annonces</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Alertes
              <span class="caret"></span>
            </a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/new-alerte">Créer Alerte</a></li>
                  <li *ngIf="usernameLog" ><a routerLink="/mes-alertes">Mes Alertes</a></li>
                </ul>
        </li>
        <li><a routerLink="/mes-favoris">Mes Favoris</a></li>
        <li><a routerLink="/mes-annonces">Mes Annonces</a></li>
        <li *ngIf="authorityAdmin == 'true'" ><a routerLink="/annonces-a-valider"><a>&Agrave; Valider</a></a></li>
        <li *ngIf="authorityAdmin == 'true'" ><a routerLink="/annonces-signalees"><a>A Signalées</a></a></li>
        <li *ngIf="authorityAdmin == 'true'" ><a routerLink="/mes-activites"><a>Mes activités</a></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-success" routerLink="/new">Deposer annonce</a></li>
        <li *ngIf="!userLog" ><a routerLink="/login">Connexion</a></li>
        <li *ngIf="userLog" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{usernameLog}}
              <span class="caret"></span>
            </a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/mes-annonces">Mes Annonces</a></li>
                  <li><a routerLink="/mes-infos">Mes Infos</a></li>
                  <li> <a routerLink="/mes-activites"> Mes activités</a></li>
                  <li> <a routerLink="/users"> Les Inscrits</a></li>
                  <li  (click)="logout()" style="cursor: pointer"><a> Deconnexion</a></li>
                </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>