
<div class="row">
    <div class="col-md-12">
      <div class="col-md-4"><span style="font-weight: bold">Prix:</span> {{annonce.prix}}</div>
      <div class="col-md-4"><span style="font-weight: bold">Ville:</span> {{annonce.ville}}</div>
      <div class="col-md-4"><span style="font-weight: bold">Phone:</span> {{annonce.telephone}}</div>
    </div>
  </div><br>
  <div class="row">
    <div class="well">
      <p><span style="font-weight: bold">Motif du signalement:</span> &nbsp; {{annonce.motifSignalement}}</p>
      <p><span style="font-weight: bold">Message du signalement:</span> &nbsp; {{annonce.messageSignalement}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img
        src="http://localhost:8080/images/{{annonce.cheminImage}}"
        alt="{{ annonce.nom }}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
  </div><br>
  
  <div class="row">
    <div class="col-xs-12">
      <div>
        <ul class="list-group">
          <a  class="list-group-item ">
            <h4 class="list-group-item-heading">DESCRIPTION</h4>
            <p  class="list-group-item-text"><i><b> 
              {{annonce.description}}</b></i></p>
          </a>
         </ul> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-4">
        <div *ngIf="annonce.etatPublication == 'depublie'; else depublieAnnonce">
          <div class="btn btn-info" (click)="republierAnnonce()"><span class="glyphicon glyphicon-thumbs-up" ></span><br>Republier l'annonce</div>
        </div>

        

        <ng-template #depublieAnnonce>
            <button class="btn btn-danger"  (click)="openModal(template)"><span class="glyphicon glyphicon-thumbs-down" ></span><br>Dépublier l'annonce</button>
        </ng-template>
      </div>
      <div class="col-md-4"><button class="btn btn-warning" (click)="onEcrireMessage()"><span class="glyphicon glyphicon-envelope"></span><br>Ecrire un message à l'annonceur</button></div>
    </div>
  </div><br>

  <ng-template #template>
      <div class="modal-body text-center">
        <p>Voulez vous vraiment dépublier cette annonce?</p>
        <button type="button" class="btn btn-default" (click)="confirm()" >Oui Déplublier</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >Non Annuler</button>
      </div>
    </ng-template>

  